#profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f0f0f0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    gap: 5px;
}

a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}

img{
    width: 100px;
    height: auto;
    margin: 20px;
    border-radius: 10px;
}
#cardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 60px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

.card {
    width: 300px;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

footer{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #f9f9f9;
    align-items: center;
}
